# Node
node_modules/
npm-debug.log*
.next/
out/

# Build
dist/
build/
server/public/
client/dist/

# Env files
.env
.env.local
.env.*.local
client/.env
server/.env

# OS
.DS_Store

# Archives
*.tar.gz
*.zip

# IDE
.vscode/
.idea/

.local
